doctype html
html
    head
        title Dashboard
        link(rel='stylesheet', href='/css/dashboard.css')
    body.dash
        header.headerBar
            p.logo Dashboard
        section.display
            div.displayBG
            section.greetingWrap
                h1.greeting Welcome, #{name.first}!
                p.comment Your finances are looking healthy.
            div.modules
                section.module.accountsWrap
                    div.balanceWrap
                        p.balance £#{balance}
                        p.label Your total balance
                    ul.accounts
                        li.monzoAccount Monzo Account with a balance of £#{balance}
        section.transactions
            h2.subheading Transactions
            table.transactionsTable
                tr.tableHeader
                    th.merchant Merchant
                    th.amount Amount
                    th.date Date
                    th.account Account
                    th.category Category
                for entry in transactions
                    tr.transaction
                        if entry.merchant == null
                            td #{entry.counterparty.name}
                        else
                            td #{entry.merchant}
                        td.amount=entry.amount
                        td.date=entry.created
                        td.account=entry.account
                        td.category=entry.category

        script.
            const ws = new WebSocket('ws://127.0.0.1:8080');

            ws.addEventListener('open', function open() {
              ws.send('something');
            });

            ws.addEventListener('message', function incoming(data) {
              
            });